{% extends "@twigFrontendTemplates/layout.twig" %}

{% block content %}
    <!-- frontend/index.twig::content -->
    <div class="row">
        <div class="col-md-9" id="an-empty-method" role="main">
            <h2>Login</h2>
            <p>
                <form action="{{ path('admin_login_check') }}" method="post">
                    {{ error }}
                    <input type="text" name="_username" value="{{ last_username }}" />
                    <input type="password" name="_password" value="" />
                    <input type="submit" />
                </form>
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
{% endblock %}
